
.wrapper {
    background-color: blue;
}

.wrapper h2 {
    margin-left: 39%;
    font-size: 50px;
    color: aliceblue;
    text-transform: capitalize;
}

.team {
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10%;
}

.team #mem {
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 40px;
    line-height: 20px;
    color: #8e8b8b;
    position: relative;
    border-radius: 5px;

}

.team #mem h3 {
    color: #81c644;
    font-size: 26px;
    margin-top: 50px;
}

.team #mem p.role {
    color: #ccc;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
}

.team #mem .team-image {
    width: 100px;
    height: 100px;
    border-radius: 2%;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-30%);
    background: white;
}

.team #mem .team-image img {
    width: 100px;
    height: 100px;
    padding: 10px;

}

.wrapper2 {
    background-color: blueviolet;

}

.wrapper2 h2 {
    margin-left: 40%;
    font-size: 50px;
    color: aliceblue;
    text-transform: capitalize;

}
